/*Reset css */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  line-height: 1.6;
  background: #f6f6f6;
  color: #333;
}

header {
  background: #333;
  color: aquamarine;
  padding: 10px 0;
}
nav ul {
  list-style: none;
  display: flex;
  justify-content: center;
}

nav ul li {
  margin: 0 15px;
}

nav ul li a {
  color: #fff;
  text-decoration: none;
}

section {
  padding: 20px;
  margin: 10px;
}
#home {
  background: #eee;
  text-align: center;
}

#about,
#projects,
#skills,
#contact {
  background: #fff;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(44, 171, 74, 0.1);
}

footer {
  background: #333;
  color: #fff;
  text-align: center;
  padding: 10px;
}
